/DequeuingStrategy.class
/Junction.class
/LightSwitchingStrategy.class
/MostCrowdedStrategy.class
/Road.class
/RoundRobinStrategy.class
/SimulatedObject.class
/Vehicle.class
/VehicleStatus.class
/Weather.class
/cityRoad.class
/InterCityRoad.class
/CityRoad.class
/MoveFirstStrategy.class
/MoveAllStrategy.class
